H1 {
    color: royalblue;
    font-family: cursive;
    font-size: 50px;
}

*{
    background-color: lemonchiffon;
}

nav ul {
    font-family: serif;
}

A:Link {
    color: darkblue;
}

A:Visited {
    color: blueviolet;
}

A:Hover {
    color: darkslateblue;
}

img {
    height: 250px;
    width: 250px;
}

#mugContainer {
    padding-bottom: 220px;
    height:300px;
    width:300px;
}