H1 {
    color: darkslateblue;
    font-family: verdana;
    font-size: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkslateblue;
}

img {
    height: 250px;
    width: 250px;
}



#mugContainer1 {
    height: 33%;
    width: 32%;
    margin-left: 1%;
}

#mugContainer2 {
    width: 33%;
    display: inline-block;
    margin-left: 1%;
}

#mugContainer3 {
    float: right;
    width: 33%;
    margin-left: 1%;
}

footer::after {
    content: "For your ugly mug";
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: blue;
    font-size: 20px;
    text-shadow:0 2px 3px rgba(0, 0, 0, 0.5);
    margin: 25px;
}

/* Set the footer width */
footer {
    margin: 0 auto;
    width: 1000px;
    max-width: 1000px;
    min-width: 1000px;
}

/* Set the footer text color */
footer, footer p {
    color: #333333; /* dark gray */
}

/* Center the footer text and add a drop shadow */
footer p {
    text-align: center;
    color:#333333;
    margin:25px 0 0;
    text-shadow:0 2px 3px rgba(0, 0, 0, 0.5); /* This may not work with all browsers */
}

/*ul li{
    padding: 0;
    display: inline-block;
    overflow: hidden;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    font-family: serif;
}

ul li a:hover {
    background-color: royalblue;
    color: white;
    padding: 14px 16px;
}


A:Link {
    color: white;
}

/*
A:Visited {
    color: blueviolet;
}

A:Hover {
    color: darkslateblue;
}
*/