H1 {
    color: royalblue;
    font-family: verdana;
    font-size: 50px;
}

ul li{
    padding: 0;
    display: inline-block;
    overflow: hidden;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    font-family: serif;
}

ul li a:hover {
    background-color: royalblue;
    color: white;
}


A:Link {
    color: white;
}

/*
A:Visited {
    color: blueviolet;
}

A:Hover {
    color: darkslateblue;
}
*/

img {
    height: 250px;
    width: 250px;
}

#mugContainer {
    padding-bottom: 220px;
    height:300px;
    width:300px;
}

footer {

}